{
    "printWidth": 150,
    "trailingComma": "es5",
    "overrides": [
        {
            "files": "*.route.js",
            "options": {
                "printWidth": 50
            }
        }
    ]
}